.footer {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  background: black;
  margin-top: 40px;
  
}

.footerInner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 16px;
  color: white;
  font-size: 14px;
}
